section.queue {
  padding: 1rem;
  margin-bottom: 2rem;
  position: relative;

  @media (max-width: 991px) {
    padding: 1rem 0rem !important;

    .arrow {
      display: none !important;
    }

    .carousel {
      overflow: scroll !important;
    }

    .title {
      display: block !important;
      
      #timer {
        display: block !important;
      }
    }
  }


  .arrow {
    position: absolute;;
    background: #fff;
    padding: 0.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    left: calc(-3rem/2);
    top: calc(50% - 3rem/2 + 1rem);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    z-index: 2;
    cursor: pointer;
    transition: 300ms;

    &:hover {
      box-shadow: 0 0 20px rgb(0, 0, 0, 0.5); 
    }
  }
  .right {
    right: calc(-3rem/2);
    left: unset;
  }

  .title {
    font-size: 1.75rem;    
    margin-bottom: 0.4rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  hr {
    opacity: 0.5;
  }

  .carousel {
    overflow: hidden;
    margin-top: 1.5rem;
    scroll-behavior: smooth;
    position: relative;
    min-height: 10rem;

    .without-patient {
      text-align: center;
      align-items: center;
      justify-content: center;
      height: calc(10rem - 0.4rem);
      width: 100%;
    }

    > div {
      display: flex;
      width: max-content;
      margin: 0.2rem;
    }

    .loading {
      width: 100%;
      height: 100%;
      background-color: var(--background);
      backdrop-filter: blur(1px);
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        animation: animatedLoadingCarousel infinite 1s ease;
        font-size: 1.5rem;

        @keyframes animatedLoadingCarousel {
          0% {
            transform: rotate(0deg);
          }

          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
  

}