section#content {
  background-color: var(--background);

  flex: 0.75;
  width: 75%;

  padding: 2rem 3rem;

  @media (max-width: 991px) {
    width: 100%;
    padding: 1rem;
  }

  .menu-mobile {
    display: none;
    font-size: 2rem;

    svg {
      margin-right: 0 !important;
    }
  }

  @media (max-width: 991px) {
    .menu-mobile {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    > header {
      justify-content: space-between !important;
      margin-bottom: 2rem;
    }
  }
  > header {
    display: flex;
    justify-content: flex-end;

    > div {
      background: var(--default-blue);
      color: #fff;
      padding: 0.75rem;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;

      svg {
        font-size: 1.5rem;
        margin-right: 0.5rem;
      }
    }
  }
}