.selected-card {
  border: solid 1px blue !important;
  width: 10.5rem !important;
  height: 10.5rem !important;
  margin-top: 0!important;

  &::before {
    content: "Próximo";
    position: absolute;
    background-color: green;
    color: #fff;
    padding: 0.25rem 2rem;
    transform: rotate(45deg);
    top: 0.5rem;
    right: -2rem;
    border-radius: 0.5rem;
  }
}


.card {
  position: relative;
  width: 10rem;
  height: 10rem;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 0.3rem;
  border: solid 1px rgb(194, 194, 194);
  overflow: hidden;
  margin-top: 0.25rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & + .card {
    margin-left: 1rem;
  }

  &:hover {
    border: solid 1px black;
    footer {
      .option-icon {
        bottom: 0;
        opacity: 1;
      }
    }
  }

  > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 0.4rem;
    border-bottom: solid 1px rgb(0, 0, 0, 0.3);

    svg {
      font-size: 1.5rem;
    }
  }

  > section {
    padding: 0.25rem;
    .info {
      .label {
        font-weight: bold;
      }

      .text {

      }
    }
  }

  > footer {
    display: flex;
    justify-content: flex-end;

    .option-icon {
      width: 1.5rem;
      height: 1.5rem;
      background-color: var(--background);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: relative;
      cursor: pointer;

      bottom: -120%;
      opacity: 0;
      transition: 300ms;

      & + .option-icon {
        margin-left: 0.5rem;
      }
    }

    .remove {
      color: red;
    }

    .edit {
      color: var(--default-blue);
    }
  }
}